.bg{
    background-image: url(/src/bg/Ellipse\ 87.png);
    background-color: linear-gradient(172.23deg, #FAFCFE 10.94%, #F2F3F9 93.99%);
    color: #15143966;
    color: rgba(0, 0, 0, 0.871);
    color: rgba(21, 20, 57, 0.4);
    color: #00000099;
    color: #00000099;
    color: #000000de;
    color: #ffffffde;
}